
$primary-color:#070d59;
$secondary-color:#1f3c88;
$t-color:#5893d4;
$f-color:#f7b633;
$g-color:#303841;
$gl-color:#666666;
$bl-color:#7aa5d2;
$wc-color:#976666;
$green-color: rgb(33,95,33,0.7);
$white:#fff;

@mixin gradient-primary{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#070d59+0,226db7+20,207cca+32,070d59+100 */
background: rgb(7,13,89); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(7,13,89,1) 0%, rgba(34,109,183,1) 20%, rgba(32,124,202,1) 32%, rgba(7,13,89,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(7,13,89,1) 0%,rgba(34,109,183,1) 20%,rgba(32,124,202,1) 32%,rgba(7,13,89,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(7,13,89,1) 0%,rgba(34,109,183,1) 20%,rgba(32,124,202,1) 32%,rgba(7,13,89,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#070d59', endColorstr='#070d59',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


@mixin gradient-gcolor{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2b2b2b+50,111111+82,1c1c1c+91,131313+100 */
background: rgb(76,76,76); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(43,43,43,1) 50%, rgba(17,17,17,1) 82%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(43,43,43,1) 50%,rgba(17,17,17,1) 82%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(43,43,43,1) 50%,rgba(17,17,17,1) 82%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 */


    }

