<div class="row">
  <div class="col-12 card_menu">
    <button mat-button [matMenuTriggerFor]="pr">KORISNIČKI NALOZI</button>
    <mat-menu #pr="matMenu">
      <button mat-menu-item [routerLink]="['reguser']">
        <mat-icon>supervised_user_circle</mat-icon>
        Kreiraj novi nalog
      </button>
    </mat-menu>
  </div>
</div>
<router-outlet>

</router-outlet>