<div class="row login-wrapper">
<mat-card class="login-box">
  <mat-card-header >
      <mat-card-title>
        <span class="title-one">ŽELIMO VAM USPEŠAN DAN</span><br>
        <span class="title-two">DOBRODOŠLI</span></mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form action="" [formGroup]='loginform' autocomplete="off">
        <mat-form-field >
            <input matInput
              placeholder="Unesite vaše korisničko ime"
              formControlName="email"
              >
              <mat-error *ngIf="loginform.controls.email.invalid">Morate uneti korisničko ime</mat-error>
          </mat-form-field>

          <mat-form-field >
              <input matInput
              placeholder="Unesite pirstupni kod"
              formControlName = "password"
              [type]="hide ? 'password' : 'text'"
              >
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

            <mat-card-actions style="align-items: center;">
                <button mat-raised-button color="primary" [disabled]="loginform.invalid" (click)="login()">PRIJAVITE SE</button>
                <button mat-button>ODUSTANI</button>
            </mat-card-actions>
    </form>
    <p *ngIf="falseLogin >=3 ">
      <a routerLink="respass">Zaboravljena šifra?</a>
    </p>    
</mat-card-content>
</mat-card>
</div>
