<br>
<mat-tab-group class="row" #menuTab>

  <mat-tab label="NOVI MENI">
    <mat-card class="formBox">
      <form [formGroup]="newMenu" (ngSubmit)="onFormSubmit(menuForm)" #menuForm autocomplete="off">
        <mat-card-title *ngIf="!updateModel">KREIRAJTE NOVI MENI</mat-card-title>
        <mat-card-title *ngIf="updateModel">IZMENITE POSTOJEĆI MENI</mat-card-title>
        <mat-card-content>
          <div class="row" cdkDropListGroup>
            <div class='col-8'>

              <!-- TEXT NAME INPUT -->
              <!-- <mat-form-field class="col-md-3">
                            <input matInput formControlName="link_name" placeholder="NAZIV LINKA">
                            <mat-hint>Minimum tri karaktera samo slova, brojevi i razmak!</mat-hint>
                        </mat-form-field> -->
              <!--  -->
              <div class="card text-center">
                <div class="card-header">
                  PREVLAČENJEM DOSTUPNIH LINKOVA KREIRAJTE ŽELJENI MENI
                </div>
                <div class="card-body">
                  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" cdkDropList
                    (cdkDropListDropped)="drop($event)" id="menuList" #menuTree>
                    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding cdkDrag
                      dragStartDelay='200' [cdkDragData]="node" (cdkDragStarted)="dragStart($event, node)"
                      (cdkDragReleased)="dragEnd()" [cdkDragDisabled]="node.id_link < 0">
                      <button mat-icon-button disabled></button>
                      {{node.link_name | uppercase}}
                      <div class='nodeInfo'>
                        <mat-icon (mousedown)="onMouseDown(node)" cdkDragHandle *ngIf="node.id_link > 0">open_with
                        </mat-icon>
                      </div>
                    </mat-tree-node>

                    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding cdkDrag
                      [cdkDragData]="node" [cdkDragStartDelay]="10" (cdkDragStarted)="dragStart($event, node)"
                      (cdkDragReleased)="dragEnd()">
                      <button type="button" mat-icon-button [attr.aria-label]="'toggle ' + node.filename"
                        (click)="onExpandClick(node)">
                        <mat-icon class="mat-icon-rtl-mirror">
                          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                      </button>
                      {{node.link_name | uppercase}}
                      <div class='nodeInfo'>{{node.id_link}}
                        <mat-icon (mousedown)="onMouseDown(node)" cdkDragHandle>open_with
                        </mat-icon>
                      </div>
                    </mat-tree-node>
                  </mat-tree>

                </div>
                <div class="card-footer text-muted">
                  <!-- TEXT NAME INPUT -->
                  <mat-form-field class="col-md-12">
                    <input matInput formControlName="menu_name" placeholder="NAZIV MENIJA">
                    <mat-hint>Minimum tri karaktera samo slova, brojevi i razmak!</mat-hint>
                  </mat-form-field>
                  <!--  -->
                </div>
              </div>

            </div>
            <div class="col-4">
              <div class="example-container">
                <h2>DOSTUPNI LINKOVI</h2>

                <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="links" class="example-list"
                  (cdkDropListDropped)="drop($event)" id="linkList">
                  <div class="example-box" *ngFor="let link of links" [cdkDragData]="link"
                    (cdkDragStarted)="dragStart($event)" (cdkDragReleased)="dragEnd()" cdkDrag>{{link.link_name}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>


          <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
        </mat-card-content>


        <div class="formBox_buttons">
          <button mat-raised-button color="primary" type="submit" class="center-block mr-1 formBox_buttons-ok"
            mat-button *ngIf="!updateModel">
            <mat-icon>add</mat-icon> DODAJTE NOVi MENI
          </button>

          <button mat-raised-button color="primary" type="button" class="center-block mr-1 formBox_buttons-ok"
            mat-button *ngIf="updateModel" (click)="onFormUpdate(menuForm)">
            <mat-icon>create</mat-icon> IZMENI
          </button>


          <button mat-raised-button color="primary" type="button" class="center-block formBox_buttons-cancel" mat-button
            (click)=" onResetFrom(menuForm)">
            <mat-icon>cancel</mat-icon> ODUSTANI
          </button>
        </div>
      </form>
    </mat-card>
  </mat-tab>


  <mat-tab label="PREGLED POSTOJEĆIH MENIJA">
    <!-- <mat-card *ngIf="option==='list'" class='formBox formBox_notop'>
      <mat-card-title>Pretraga kupaca po imenu</mat-card-title>
      <mat-card-content>
 
          <div class="row">
          <div class="col-10">
            <app-kupcisearch (kupac)='onFilteredKupac($event)' #kupacsearch></app-kupcisearch>
          </div>
          <div class="col-2">
            <button mat-raised-button color="primary" type="button" class="center-block mr-1 formBox_buttons-ok"
              mat-button (click)="onResetKupacList()">
              RESET </button>
          </div>
        </div>

      </mat-card-content>
    </mat-card> -->

    <mat-card class="listBox">
      <mat-card-content>
        <table mat-table [dataSource]="tableData$" class="mat-elevation-z8 col-md-12" *ngIf="!isLoading">

          <!--- Note that these columns can be defined in any order.
                                  The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{(this.paginator.pageIndex * this.paginator.pageSize) + (i+1)}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="menu_name">
            <th mat-header-cell *matHeaderCellDef> MENI </th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{element.menu_name}}
            </td>
          </ng-container>



          <!-- Name Column -->
          <ng-container matColumnDef="link_count">
            <th mat-header-cell *matHeaderCellDef> BROJ LINKOVA </th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{element.links?.length}}
            </td>
          </ng-container>


          <!-- Symbol Column -->
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> IZMENI </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="modelForUpdate(element)">
                  <mat-icon>edit</mat-icon>
                  <span>Izmeni podatke</span>
                </button>
                <!-- <button mat-menu-item (click)="onUredjajCopy(element)">
                  <mat-icon>edit</mat-icon>
                  <span>Kopiraj podatke</span>
                </button> -->
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="headerColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: headerColumns;"></tr>
        </table>

        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]" [showFirstLastButtons]="true"
          #paginator (page)="onPaginationChange($event)">
        </mat-paginator>
      </mat-card-content>
    </mat-card>
  </mat-tab>

</mat-tab-group>