<div class="row login-wrapper">
  <mat-card class="login-box" *ngIf="(isTokenized$|async)">
    <mat-card-header >
     <mat-card-title>
          <span class="title-one">KOMPLIKOVANA ŠIFRA JE </span><br>
          <span class="title-two">SIGURNA ŠIFRA</span>
      </mat-card-title>
    </mat-card-header>
    
    <mat-card-content >
        <form action="" [formGroup]='resetPassForm' autocomplete="off">

            <mat-form-field style="width:100%;" >
                <input formControlName="email"
                matInput placeholder="Npr.: nikola.nikolic@papirprint.rs" >
                <mat-hint>Morate uneti kompletnu imejl adresu.</mat-hint>
                <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error> -->
            </mat-form-field>

            <mat-form-field style="width:100%;" >
              <input formControlName="password" 
              matInput 
              placeholder="Unesite lozinku"
              [type]="hide ? 'password' : 'text'"
              >
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>

            <mat-form-field style="width:100%;" >
                <input formControlName="confirmpassword"
                matInput 
                placeholder="Ponovite lozinku"
                [type]="hide ? 'password' : 'text'"
            
                >
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                <mat-error *ngIf="resetPassForm.controls.confirmpassword.hasError('passwordsNotEqual')" >Unete lozinke nisu identične.</mat-error>
              </mat-form-field>
                  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
                  <mat-card-actions style="align-items: center;">
                      <button mat-raised-button color="primary" [disabled]="resetPassForm.invalid" (click)="onResetPassSubmit()">PROMENI LOZINKU</button>
                      <button mat-button (click)='onLoginCancle()'>ODUSTANI</button>
                  </mat-card-actions>
          </form>
      </mat-card-content>
  </mat-card>

  <mat-card class="login-box" *ngIf="!(isTokenized$|async)">
    <mat-card-header >
      <mat-card-title>
          <span class="title-one">ZAHTEV ZA PROMENU</span><br>
          <span class="title-two">PRISTUPNE ŠIFRA</span>
      </mat-card-title>
    </mat-card-header>
    
    <mat-card-content >
        <form action="" [formGroup]='reqPassResForm' autocomplete="off">
          <br>
                  <mat-form-field class="col-md-10" *ngIf="!updateUser">
                    <input formControlName="email"
                    matInput placeholder="Npr.: nikola.nikolic@papirprint.rs" >
                    <mat-hint>Morate uneti kompletnu imejl adresu.</mat-hint>
                    <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                      Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                      Email is <strong>required</strong>
                    </mat-error> -->
                  </mat-form-field>
                  <br>
          </form>
      </mat-card-content>
      <mat-card-actions style="align-items: center;">

          <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

          <button mat-raised-button color="primary" [disabled]="reqPassResForm.invalid" (click)="sendResetRequest()">POŠALJI ZAHTEV</button>
          <button mat-button (click)='onLoginCancle()'>ODUSTANI</button>
      </mat-card-actions>

    </mat-card>
  </div>

