<!-- <div class="row ladingBox">

    <div class="col-md-4">
        <div class="ladingBox_first">
            <label for="">
                <mat-icon>
                    business
                </mat-icon>KUPACA
            </label>
            <span>1200</span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="ladingBox_second">
            <label for="">
                <mat-icon>
                    style
                </mat-icon>PROIZVODA
            </label>
            <span>1200</span>

        </div>
    </div>
    <div class="col-md-4">
        <div class="ladingBox_third">
            <label for="">
                <mat-icon>
                    today
                </mat-icon>RADNIH NALOGA
            </label>
            <span>1200</span>
        </div>
    </div>

    

</div>

<div class="row ladingBox">
    <div class="col-md-6">
        <div class="ladingBox_third">
            <label for="">
                <mat-icon>
                    today
                </mat-icon>PLANOVA KONTROLISANJA
            </label>
            <span>1200</span>
        </div>
    </div>

    <div class="col-md-6">
        <div class="ladingBox_first">
            <label for="">
                <mat-icon>
                    business
                </mat-icon>IZVEŠTAJA KONTROLISANJA
            </label>
            <span>1200</span>
        </div>
    </div>

   

</div> -->