@import "src/assets/scss/colors.scss";
.ladingBox{
    margin-top: 2em;
   div{
        height: 200px;
    }
    &_first, &_second, &_third{
      padding: 1em;
    //   box-shadow: 3px 6px $g-color;
      span{
        display: block;
        position: absolute;
        right: 10%;
        bottom: 10%;
        font-size: 4em;
        color: $gl-color;
        text-shadow: 2px 1px white;
      }
      label {
        width: 100%;
        font-size: 2em;
        border-bottom: 1px solid white;
      }
    }
    &_first{
        background: rgb(255,255,255);
        background: linear-gradient(23deg, rgba(255,255,255,1) 0%, rgba(247,192,51,1) 100%);
    }
    &_second{
        background: rgb(255,255,255);
        background: linear-gradient(23deg, rgba(255,255,255,1) 0%, rgba($t-color,1) 100%);
    }
    &_third{
        background: rgb(255,255,255);
        background: linear-gradient(23deg, rgba(255,255,255,1) 0%, rgba($secondary-color,1) 100%);
    }
}