.uploadBox{
    // min-width: 320px;
    width: auto;
    height: 200px;
    border: dashed 2px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    &_icon{
   text-align: center;
     font-size: 1em;
     color: gray;
     mat-icon{font-size: 3rem;   margin-left: -1.5rem; display: inline-block;}
       }
      mat-icon:hover{cursor: pointer; color: yellow;}
    &_files{
      margin-bottom: -1rem;
      margin-right: 1rem;
      border-radius: 3px;
      display: flex;
      width: 80%;
      position: absolute;
      z-index: 999;
      top:2.5%;
      height:95%;
      overflow-y:auto;
      background-color: white;
        ul { width: 90%; }
        li {padding: 0.5rem;text-align: center; border-bottom: 1px solid white; list-style: none;}
        transition: all 0.4s;
    }
     &_cancle{
      position:absolute;
      right:2%;
      font-size:2rem;
      color:red;
      &:hover{
       color:red!important;
       transform: scale(1.2);
       transform: all 2s linear;
     }
    }
    &-over{
      border: dashed 3px green;
      color: green;
      .uploadBox_icon{
        color: green;
      }
      transition: all 0.6 linear;
    }
}