<div class='uploadBox' [ngClass]="{'uploadBox-over': (isOver | async) }" appFiledrop (addedFiles)='onFilesAdded($event);' (hoveringFiles)='onMouseOver($event)'>
    <div class='uploadBox_icon' >
        <mat-icon (click)='onUploadClick()'>add_a_photo</mat-icon><br>
        <input type="file" id="file" hidden>
        <label for="">Prevucite ili izaberite slike / fajlove.</label>
    </div>
    <div class='uploadBox_files' *ngIf="$files | async as files">
            <mat-icon (click)='removeFileUpload(i)' class="uploadBox_cancle">remove_circle</mat-icon>
        <ul>
            <li *ngFor='let file of files; let i = index'>{{file.name}} 
                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
            </li>
        </ul>
    </div>
</div>