<br>
<mat-tab-group class="row" #userTab>
  <mat-tab label="Novi korisnički nalog">
    <div class="col-6">
      <mat-card class="formBox">
        <form [formGroup]="newUser" (ngSubmit)="newUserSubmit()">
          <mat-card-title *ngIf="!updateUser">DODAJTE NOVI KORISNIČKI NALOG</mat-card-title>
          <mat-card-title *ngIf="updateUser">IZMENITE POSTOJEĆI KORISNIČKI NALOG</mat-card-title>
          <mat-card-content>
            <mat-card class="col-md-12">
              <mat-card-title class="subTitle">Podaci korisnika</mat-card-title>

              <mat-card-content>
                <div formGroupName="user">

                  <mat-form-field class="col-12" *ngIf="!updateUser">
                    <input formControlName="email" matInput placeholder="Npr.: nikola.nikolic@papirprint.rs">
                    <mat-hint>Morate uneti kompletnu imejl adresu.</mat-hint>
                    <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Please enter a valid email address
                          </mat-error>
                          <mat-error *ngIf="emailFormControl.hasError('required')">
                            Email is <strong>required</strong>
                          </mat-error> -->
                  </mat-form-field>
                  <mat-form-field style="width:100%;" *ngIf="!updateUser">
                    <input formControlName="password" matInput placeholder="Unesite lozinku"
                      [type]="hide ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                  </mat-form-field>
                  <mat-form-field style="width:100%;" *ngIf="!updateUser">
                    <input formControlName="confirmpassword" matInput placeholder="Ponovite lozinku"
                      [type]="hide ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-error *ngIf="newUser.controls.user.hasError('passwordsNotEqual')">Unete lozinke nisu identične.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div formGroupName="userinfo">
                  <mat-form-field class="col-12">
                    <input formControlName="username" matInput placeholder="Ime i prezime: Nikola Nikolć">
                    <mat-hint>Samo brojevi i - !</mat-hint>
                    <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                  Please enter a valid email address
                                </mat-error>
                                <mat-error *ngIf="emailFormControl.hasError('required')">
                                  Email is <strong>required</strong>
                                </mat-error> -->
                  </mat-form-field>

                  <mat-form-field class="col-12">
                    <input formControlName="phone" matInput placeholder="Broj telefona: 064-333-333">
                    <mat-hint>Samo brojevi i - !</mat-hint>
                    <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                    Please enter a valid email address
                                  </mat-error>
                                  <mat-error *ngIf="emailFormControl.hasError('required')">
                                    Email is <strong>required</strong>
                                  </mat-error> -->
                  </mat-form-field>

                  <mat-form-field>
                    <mat-select formControlName="userRole" placeholder="Ovlašćenja" class="text-uppercase">
                      <mat-option *ngFor="let ovl of ovlascenja" [value]="ovl">
                        {{ovl | uppercase}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-select formControlName="department" placeholder="Sektor" class="text-uppercase">
                      <mat-option *ngFor="let sk of sektor" [value]="sk">
                        {{sk | uppercase}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </mat-card-content>

            </mat-card>

          </mat-card-content>
          <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

          <div class="row formBox_buttons">
            <button mat-raised-button color="primary" type="submit" class="center-block mr-1 formBox_buttons-ok" mat-button
              *ngIf="!updateUser">
              <mat-icon>add</mat-icon> KREIRAJTE KORISNIČKI NALOG
            </button>

            <button mat-raised-button color="primary" type="submit" class="center-block mr-1 formBox_buttons-ok" mat-button
              *ngIf="updateUser" (click)="onUpdateUser()">
              <mat-icon>create</mat-icon> IZMENI
            </button>


            <button mat-raised-button color="primary" type="button" class="center-block formBox_buttons-cancel" mat-button>
              <mat-icon>cancel</mat-icon> ODUSTANI
            </button>
          </div>
        </form>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Pretraga korisničkih naloga">

    <!-- <mat-card>
          <mat-radio-group #searchFilter style="padding: 5px;">
              <mat-radio-button value="rn"> Broj radnog naloga </mat-radio-button>
              <mat-radio-button value="ident"> Broj identa </mat-radio-button>
          </mat-radio-group>
        <app-rnsearch *ngIf="(searchOption$ | async)==='rn'" (radniNalog)=onSearchRN($event)></app-rnsearch>
        <app-identsearch *ngIf="(searchOption$ | async)==='ident'"></app-identsearch>
      </mat-card> -->



    <mat-card class="listBox">
      <mat-card-content>
        <table mat-table [dataSource]="users$" class="mat-elevation-z8 col-md-12">

          <!-- Position Column -->
          <ng-container matColumnDef="rbroj">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
          </ng-container>

          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef> IME I PREZIME </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{element?.username}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="datecreated">
            <th mat-header-cell *matHeaderCellDef> NALOG AKTIVAN OD </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <strong>{{element?.created_at}}</strong>
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef> TELEFON </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <strong>{{element?.phone}}</strong>
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="dept">
            <th mat-header-cell *matHeaderCellDef> SEKTOR </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <strong>{{element.department}}</strong>
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="izmeni">
            <th mat-header-cell *matHeaderCellDef> IZMENI </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" class="actionMenu">
                <button mat-menu-item (click)="onUserEdit(element)">
                  <mat-icon>edit</mat-icon>
                  <span>Izmeni</span>
                </button>
                <button mat-menu-item (click)="onResetPass(element)">
                  <mat-icon>fingerprint</mat-icon>
                  <span>Promeni lozinku</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>

        </table>

        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]" #paginator
          (page)="onPaginationChange($event)"></mat-paginator>

      </mat-card-content>
      <mat-card *ngIf="isLoading">
        <mat-card-content>
          <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
        </mat-card-content>
      </mat-card>

    </mat-card>

  </mat-tab>
</mat-tab-group>