<br>
<mat-tab-group class="row" #pageTab>

  <mat-tab label="Kreirajte novu šemu komponente">
    <mat-card class="formBox">
      <form [formGroup]="newPage" (ngSubmit)="onFormSubmit(pageForm)" #pageForm autocomplete="off">
        <mat-card-title *ngIf="!updateModel">KREIRAJTE NOVU STRANICU</mat-card-title>
        <mat-card-title *ngIf="updateModel">IZMENITE POSTOJEĆU STRANICU </mat-card-title>
        <mat-card-content>
          <mat-card class="col-md-12">
            <mat-card-title class="subTitle">NAZIV WEB STRANE</mat-card-title>
            <mat-card-content>
              <mat-form-field class="col-md-6">
                <input matInput formControlName="page_name" placeholder="Header Sekcija">
                <mat-hint>Minimum tri karaktera samo slova, brojevi i razmak!</mat-hint>
                <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                  Please enter a valid email address
                                </mat-error>
                                <mat-error *ngIf="emailFormControl.hasError('required')">
                                  Email is <strong>required</strong>
                                </mat-error> -->
              </mat-form-field>

             <!-- <app-link></app-link> -->

            </mat-card-content>
            <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
          </mat-card>
        </mat-card-content>

        <div class="formBox_buttons">
          <button mat-raised-button color="primary" type="submit" class="center-block mr-1 formBox_buttons-ok"
            mat-button *ngIf="!updateModel">
            <mat-icon>add</mat-icon> DODAJTE NOVU STRANU
          </button>

          <button mat-raised-button color="primary" type="button" class="center-block mr-1 formBox_buttons-ok"
            mat-button *ngIf="updateModel" (click)="onFormUpdate(pageForm)">
            <mat-icon>create</mat-icon> IZMENI
          </button>


          <button mat-raised-button color="primary" type="button" class="center-block formBox_buttons-cancel" mat-button
            (click)="onResetFrom(pageForm)">
            <mat-icon>cancel</mat-icon> ODUSTANI
          </button>
        </div>
      </form>
    </mat-card>
  </mat-tab>
  <mat-tab label="Pretraži postojeće kupce">
    <!-- <mat-card *ngIf="option==='list'" class='formBox formBox_notop'>
      <mat-card-title>Pretraga kupaca po imenu</mat-card-title>
      <mat-card-content>
 
          <div class="row">
          <div class="col-10">
            <app-kupcisearch (kupac)='onFilteredKupac($event)' #kupacsearch></app-kupcisearch>
          </div>
          <div class="col-2">
            <button mat-raised-button color="primary" type="button" class="center-block mr-1 formBox_buttons-ok"
              mat-button (click)="onResetKupacList()">
              RESET </button>
          </div>
        </div>

      </mat-card-content>
    </mat-card> -->

    <mat-card class="listBox">
      <mat-card-content>
        <table mat-table [dataSource]="tableData$" class="mat-elevation-z8 col-md-12" *ngIf="!isLoading">

          <!--- Note that these columns can be defined in any order.
                                  The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{(this.paginator.pageIndex * this.paginator.pageSize) + (i+1)}}  </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> NAZIV ŠEME </th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{element.schema_name}}
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef> TIP ŠEME </th>
              <td mat-cell *matCellDef="let element; let i = index">
                  {{element.schema_type}}
              </td>
          </ng-container>

  
          <!-- Symbol Column -->
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Akivan/Neaktivan </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <button mat-mini-fab type="button" (click)="onKupacDisable(element)" *ngIf="!element.isActive"
                style="background:red;">
                <mat-icon *ngIf="!element.isActive">add</mat-icon>
              </button>
              <button mat-mini-fab type="button" *ngIf="element.isActive" (click)="onKupacDisable(element)"
                style="background:green;">
                <mat-icon *ngIf="element.isActive">done_outline</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="headerColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: headerColumns;"></tr>
        </table>

        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]" [showFirstLastButtons]="true" #paginator
          (page)="onPaginationChange($event)">
        </mat-paginator>
      </mat-card-content>
    </mat-card>
  </mat-tab>

</mat-tab-group>
