<br>
<mat-tab-group class="row" #textTab>

  <mat-tab label="Dostupni jezici">
    <mat-card class="formBox">
      <form [formGroup]="newLangauge" (ngSubmit)="onFormSubmit(langForm)" #langForm autocomplete="off">
        <mat-card-title *ngIf="!updateModel">DODAJTE NOVI JEZIK</mat-card-title>
        <mat-card-title *ngIf="updateModel">IZMENITE POSTOJEĆI JEZIK</mat-card-title>
        <mat-card-content>
    
            <!-- TEXT NAME INPUT -->
            <mat-form-field class="col-md-4">
              <input matInput formControlName="language" placeholder="NAZIV JEZIKA">
              <mat-hint>Minimum tri karaktera samo slova, brojevi i razmak!</mat-hint>
            </mat-form-field>
            <!--  -->
            <!-- TEXT TITLE INPUT -->
            <mat-form-field class="col-md-4">
              <input matInput formControlName="identifier" placeholder="SKRAĆENA OZNAKA">
              <mat-hint>Maksimum tri slova!</mat-hint>
            </mat-form-field>
            <!--  -->
           <div class='row'>
            <div class="col-md-4" *ngIf="!updateModel">
              <app-fileupload #fuc></app-fileupload>
            </div>

            <div class="col-md-2" *ngFor="let key of [0,1,2,3]">

              <mat-card class="imageBox" *ngIf="!updateModel && !copyModel">
                <mat-icon *ngIf="!imageSrcs[key]">cloud_upload</mat-icon>
                <img [src]="imageSrcs[key]" height="200" *ngIf="imageSrcs && imageSrcs[key]">
              </mat-card>

              <mat-card class="imageBox" *ngIf="updateModel">
                <mat-icon class="imageBox_newImage" *ngIf="!updateModel.files[key]" (click)='uploadImage(updateModel)'>
                  add_to_photos
                </mat-icon>
                <div class="imgUpdateBox" *ngIf="updateModel.files[key]">
                  <mat-icon (click)="removeImage(updateModel, updateModel.files[key]);">close</mat-icon>
                  <mat-icon (click)="replaceImage(updateModel, updateModel.files[key]);">import_export</mat-icon>
                </div>
                <img src="{{FILEURL +updateModel.files[key]?.idFile}}" height="200" *ngIf="updateModel.files[key]">
                <mat-progress-bar class='imageBox_progresBar' mode="determinate" value="40"
                  *ngIf="updateModel.isLoading">
                </mat-progress-bar>
              </mat-card>


              <mat-card class="imageBox" *ngIf="copyModel">
                <mat-icon *ngIf="!copyModel.files[key]">cloud_upload</mat-icon>
                <img src="{{FILEURL +copyModel.files[key]?.idFile}}" height="200" *ngIf="copyModel.files[key]">
                <mat-progress-bar class='imageBox_progresBar' mode="determinate" value="40" *ngIf="copyModel.isLoading">
                </mat-progress-bar>
              </mat-card>

            </div>



          </div>
          <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

        </mat-card-content>

       
        <div class="formBox_buttons">
          <button mat-raised-button color="primary" type="submit" class="center-block mr-1 formBox_buttons-ok"
            mat-button *ngIf="!updateModel">
            <mat-icon>add</mat-icon> DODAJTE NOVi JEZIK
          </button>

          <button mat-raised-button color="primary" type="button" class="center-block mr-1 formBox_buttons-ok"
            mat-button *ngIf="updateModel" (click)="onFormUpdate(langForm)">
            <mat-icon>create</mat-icon> IZMENI
          </button>


          <button mat-raised-button color="primary" type="button" class="center-block formBox_buttons-cancel" mat-button
            (click)=" onResetFrom(langForm)">
            <mat-icon>cancel</mat-icon> ODUSTANI
          </button>
        </div>
      </form>
    </mat-card>
  </mat-tab>


  <mat-tab label="Pregled unetih jezika">
    <!-- <mat-card *ngIf="option==='list'" class='formBox formBox_notop'>
      <mat-card-title>Pretraga kupaca po imenu</mat-card-title>
      <mat-card-content>
 
          <div class="row">
          <div class="col-10">
            <app-kupcisearch (kupac)='onFilteredKupac($event)' #kupacsearch></app-kupcisearch>
          </div>
          <div class="col-2">
            <button mat-raised-button color="primary" type="button" class="center-block mr-1 formBox_buttons-ok"
              mat-button (click)="onResetKupacList()">
              RESET </button>
          </div>
        </div>

      </mat-card-content>
    </mat-card> -->

    <mat-card class="listBox">
      <mat-card-content>
        <table mat-table [dataSource]="tableData$" class="mat-elevation-z8 col-md-12" *ngIf="!isLoading">

          <!--- Note that these columns can be defined in any order.
                                  The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{(this.paginator.pageIndex * this.paginator.pageSize) + (i+1)}} </td>
          </ng-container>

          <!-- Name Column -->
             <ng-container matColumnDef="icon">
              <th mat-header-cell *matHeaderCellDef> SLIKE </th>
              <td mat-cell *matCellDef="let element; let i = index">
                <img *ngIf="element?.files[0]" [src]="FILEURL + element.files[0]?.idFile">
                <mat-icon *ngIf="!element.files[0]">broken_image</mat-icon>
              </td>
            </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> JEZIK </th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{element.language}}
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> SKRAĆENO </th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{element.identifier}}
            </td>
          </ng-container>


          <!-- Symbol Column -->
           <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> IZMENI </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)=" modelForUpdate(element)">
                  <mat-icon>edit</mat-icon>
                  <span>Izmeni podatke</span>
                </button>
                <!-- <button mat-menu-item (click)="onUredjajCopy(element)">
                  <mat-icon>edit</mat-icon>
                  <span>Kopiraj podatke</span>
                </button> -->
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="headerColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: headerColumns;"></tr>
        </table>

        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]" [showFirstLastButtons]="true"
          #paginator (page)="onPaginationChange($event)">
        </mat-paginator>
      </mat-card-content>
    </mat-card>
  </mat-tab>

</mat-tab-group>
