<mat-card >
  <mat-card-header>
    <div mat-card-avatar>
      <img src="">
    </div>
    <mat-card-title class="text-uppercase">Registracija novih korisnika</mat-card-title>
    <mat-card-subtitle>Dobrodošli u Papir Print</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]='signupform'>
      <mat-card>
          <mat-form-field style="width:100%;">
              <input matInput 
                placeholder="Unesite vašu Papir Print imejl adresu" 
                formControlName="newusername"
                (change)="onEmailChange()"
                >
                <mat-error >Morate uneti ime</mat-error>
            </mat-form-field>
      </mat-card>
      <br>
      <mat-card>
          <mat-form-field style="width:100%;">
              <input matInput 
                placeholder="Unesite vaše ime" 
                formControlName="newuserfirstname"
                [disabled]="isRegistered"
                >
                <mat-error >Morate uneti ime</mat-error>
            </mat-form-field>
            <mat-form-field style="width:100%;">
                <input matInput 
                  placeholder="Unesite vaše prezime" 
                  formControlName="newuserlastname"
                  [disabled]="isRegistered"
                  >
                  <mat-error >Morate uneti ime</mat-error>
              </mat-form-field>
              <mat-form-field>
                  <mat-select placeholder="Deo ste sektora" formControlName="sector" [disabled]="isRegistered">
                      <mat-option>Izaberite</mat-option>
                      <mat-option *ngFor="let sektor of sektori" [value]="sektor">{{sektor}}</mat-option>
                    </mat-select>
              </mat-form-field>
      </mat-card>

    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button>Registruj se</button>
    <button mat-raised-button routerLink="/">Odustani</button>
    </mat-card-actions>
</mat-card>
