<br>
<mat-tab-group class="row" #linkTab>

    <mat-tab label="NOVI LINK">
        <mat-card class="formBox">
            <form [formGroup]="newLink" (ngSubmit)="onFormSubmit(linkForm)" #linkForm autocomplete="off">
                <mat-card-title *ngIf="!updateModel">KREIRAJTE NOVI LINK</mat-card-title>
                <mat-card-title *ngIf="updateModel">IZMENITE POSTOJEĆI LINK</mat-card-title>
                <mat-card-content>
                    <div class='col-12'>

                        <!-- TEXT NAME INPUT -->
                        <mat-form-field class="col-md-3">
                            <input matInput formControlName="link_name" placeholder="NAZIV LINKA">
                            <mat-hint>Minimum tri karaktera samo slova, brojevi i razmak!</mat-hint>
                        </mat-form-field>
                        <!--  -->
                        <!-- TEXT LANGAGE INPUT -->
                        <mat-form-field class="col-md-3">
                            <mat-select placeholder="NIVO PRISTUPA" formControlName="link_auth" name="link_auth">
                                <mat-option *ngFor="let auth of userroles" [value]="auth">
                                    {{auth | uppercase}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!--  -->

                        <mat-form-field class="col-md-6">
                            <mat-label>Jezik</mat-label>
                            <mat-select formControlName="languages" #langSelect multiple >
                                <mat-option *ngFor="let lang of (languages$ | async)" [value]="lang">{{lang.language}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <br>
                    <mat-card class="formBox">
                        <mat-card-title *ngIf="langSelect.value?.length > 0">
                            Unesite opis linka prema izabranim jezicima
                        </mat-card-title>
                        <mat-card-content>
                            <div formArrayName="paragraphs" class="col-md-6"
                                [ngClass]="(langSelect.selected !== undefined)?'inlBlocDisplay':'noDisplay'"
                                *ngFor="let par of returnFormArray(newLink.controls['paragraphs']).controls; let i = index;">
                                <div [formGroupName]="i" class='col-12'>

                                    <!-- TEXT LANGAGE INPUT -->
                                    <mat-form-field class="col-md-3">
                                        <mat-select placeholder="IZABERITE JEZIK" formControlName="id_language"
                                            name="id_language" >
                                            <mat-option *ngFor="let lang of (languages$ | async)"
                                                [value]="lang.id_language" readonly>
                                                {{lang?.language | uppercase }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <!--  -->
                                    <mat-form-field class="col-5" *ngIf="par">
                                        <input matInput placeholder="KORISNIČKI OPIS" formControlName="title_par"
                                            [errorStateMatcher]="matcher">
                                        <mat-hint>Errors appear instantly!</mat-hint>
                                    </mat-form-field>
                                    <mat-form-field class="col-4" *ngIf="par">
                                        <input matInput placeholder="DETALJNI OPIS LINKA" formControlName="text"
                                            [errorStateMatcher]="matcher">
                                    </mat-form-field>

                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>

                    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
                </mat-card-content>


                <div class="formBox_buttons">
                    <button mat-raised-button color="primary" type="submit" class="center-block mr-1 formBox_buttons-ok"
                        mat-button *ngIf="!updateModel">
                        <mat-icon>add</mat-icon> DODAJTE NOVi LINK
                    </button>

                    <button mat-raised-button color="primary" type="button" class="center-block mr-1 formBox_buttons-ok"
                        mat-button *ngIf="updateModel" (click)="onFormUpdate(linkForm)">
                        <mat-icon>create</mat-icon> IZMENI
                    </button>


                    <button mat-raised-button color="primary" type="button" class="center-block formBox_buttons-cancel"
                        mat-button (click)=" onResetFrom(linkForm)">
                        <mat-icon>cancel</mat-icon> ODUSTANI
                    </button>
                </div>
            </form>
        </mat-card>
    </mat-tab>


    <mat-tab label="PREGLED LINKOVA">
        <!-- <mat-card *ngIf="option==='list'" class='formBox formBox_notop'>
      <mat-card-title>Pretraga kupaca po imenu</mat-card-title>
      <mat-card-content>
 
          <div class="row">
          <div class="col-10">
            <app-kupcisearch (kupac)='onFilteredKupac($event)' #kupacsearch></app-kupcisearch>
          </div>
          <div class="col-2">
            <button mat-raised-button color="primary" type="button" class="center-block mr-1 formBox_buttons-ok"
              mat-button (click)="onResetKupacList()">
              RESET </button>
          </div>
        </div>

      </mat-card-content>
    </mat-card> -->

        <mat-card class="listBox">
            <mat-card-content>
                <table mat-table [dataSource]="tableData$" class="mat-elevation-z8 col-md-12" *ngIf="!isLoading">

                    <!--- Note that these columns can be defined in any order.
                                  The actual rendered columns are set as a property on the row definition" -->

                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef> # </th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            {{(this.paginator.pageIndex * this.paginator.pageSize) + (i+1)}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="link_name">
                        <th mat-header-cell *matHeaderCellDef> NAZIV LINKA </th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            {{element.link_name}}
                        </td>
                    </ng-container>



                    <!-- Name Column -->
                    <ng-container matColumnDef="link_auth">
                        <th mat-header-cell *matHeaderCellDef> NIVO PRISTUPA </th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            {{element.link_auth}}
                        </td>
                    </ng-container>


                    <!-- Name Column -->
                    <ng-container matColumnDef="text">
                        <th mat-header-cell *matHeaderCellDef> MENI PRIKAZ I SEO OPIS PO JEZICIMA </th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            <mat-list *ngIf='element.texts'>
                                <mat-list-item *ngFor="let link of element.texts"> {{link.text_paragraphs?.tilte_par}} | {{link.text_paragraphs?.text }} </mat-list-item>
                            </mat-list>
                        </td>
                    </ng-container>


                    <!-- Symbol Column -->
                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef> IZMENI </th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)=" modelForUpdate(element)">
                                    <mat-icon>edit</mat-icon>
                                    <span>Izmeni podatke</span>
                                </button>
                                <!-- <button mat-menu-item (click)="onUredjajCopy(element)">
                  <mat-icon>edit</mat-icon>
                  <span>Kopiraj podatke</span>
                </button> -->
                            </mat-menu>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="headerColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: headerColumns;"></tr>
                </table>

                <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

                <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]"
                    [showFirstLastButtons]="true" #paginator (page)="onPaginationChange($event)">
                </mat-paginator>
            </mat-card-content>
        </mat-card>
    </mat-tab>

</mat-tab-group>