@import '../../../assets/scss/colors.scss';
    .pp-admin-header {
      background-color: black;
      color: white;
      height: 70px;
      .header-icon{
        mat-icon{
          font-size: 1.8em;
          margin-right: 1em;
          text-shadow: -5px 2px 4px black;
        }
       
        // text-shadow:1px 1px white;
        :hover{
          cursor: pointer;
          transition-timing-function: ease-in;
          transform: scale(1.2);
          transition: all 0.4s;
        }
        &-not{
          text-align: right;
        }
        &_count{
          background: #f10014;
          display: block;
          width: 2rem;
          height: 2rem;
          border-radius: 100px;
          border: 1px solid darkred;
          position: absolute;
          text-align: center;
          top: 1em;
          right: 0.7em;
          font-size: 0.9em;
          z-index: 1;
          font-weight: 700;
          box-shadow: 0px 0px 6px 0px #343a40;
        }
      }
    }

    .pp-side-container{
        // border:1px solid black;
        min-height: 100vh;
        position: fixed;
        z-index: 9999;
        margin-top:70px;
        button {
          padding: 0px;
          width: 100%;
        }

        .menu__button{
          color: white;
          background-color: $primary-color;
          height: 4rem;
          font-size: 3.5rem;
          width: 100%;
          border-bottom-right-radius: 2rem;
         }
      
        mat-nav-list{
          height: 100vh;
          width: 7rem !important;
          overflow: hidden;
          margin-top:-10px;
          mat-list-item{
            margin-top: 10px;
            height: 45px;
            padding: 0px;
            &:hover{
              color:red;
              .main-stage{
                 /* for IE */ filter:alpha(opacity=60);
  /*CSS3 standard*/ opacity:0.6;
              }
            }
          }
          mat-icon {
            height:auto;
            width: 100%;
            font-size: 2.5rem;
            margin-left: 15px;}
        }

        .pp-sidenav{
         padding-top:65px;
       
        button{
            margin: 10px;
            display: block;
            width: 10rem;
            height: 45px;
            background-color: $primary-color;
            color:$white;
        }
      }
    }

    .pp-login{
       top: 71px;
       left: 86%;
       border: 1px solid $primary-color;
       box-shadow: 3px 5px 5px;
       width: 10rem;
       height: 8rem;
       position: fixed;
    }
