<div class="row header-row">
  <mat-toolbar class="pp-admin-header">
    <div class="col-md-7 ">Admin</div>
    <div class="col-md-2 header-icon header-icon-not">
      <!-- <mat-icon (click)="onPrijavaKvara()">build</mat-icon>
        <span class='header-icon_count' *ngIf="prijaveKvarovaCount && prijaveKvarovaCount!==0">{{prijaveKvarovaCount}}</span> -->
    </div>

    <div class="col-md-3 header-icon header-icon-not">
      <mat-icon>notifications_none</mat-icon>
      <mat-icon (click)="login.toggle()">person_outline</mat-icon>
    </div>



  </mat-toolbar>

  <mat-drawer-container class="pp-side-container" autosize [hasBackdrop]='true'>
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon class="menu__button">menu</mat-icon>
    </button>
    <mat-nav-list #mainNavList>

      <mat-list-item matTooltip="ADMINISTRACIJA KORISNIKA" matTooltipPosition="right" routerLink="korisnici">
        <mat-icon>supervised_user_circle</mat-icon>
      </mat-list-item>

      <mat-list-item matTooltip="DEFINISANJE ŠEMA" matTooltipPosition="right" routerLink="schemas">
        <mat-icon>dashboard</mat-icon>
      </mat-list-item>

      <mat-list-item matTooltip="KREIRANJE STRANA" matTooltipPosition="right" routerLink="pages">
        <mat-icon>view_compact</mat-icon>
      </mat-list-item>

      <mat-list-item matTooltip="UNOS TEKSTA" matTooltipPosition="right" routerLink="texts">
        <mat-icon>library_books</mat-icon>
      </mat-list-item>

      <mat-list-item matTooltip="DEFINISANJE JEZIKA" matTooltipPosition="right" routerLink="langs">
        <mat-icon>language</mat-icon>
      </mat-list-item>
      <mat-list-item matTooltip="LINKOVI" matTooltipPosition="right" routerLink="link">
        <mat-icon>link</mat-icon>
      </mat-list-item>
      <mat-list-item matTooltip="MENIJI" matTooltipPosition="right" routerLink="menu">
        <mat-icon>menu</mat-icon>
      </mat-list-item>
      <mat-list-item matTooltip="SLIKE" matTooltipPosition="right" routerLink="images">
        <mat-icon>photo</mat-icon>
      </mat-list-item>

    </mat-nav-list>

    <mat-drawer #drawer class="pp-sidenav" mode="side">
      <button mat-raised-button routerLink="korisnici" (click)='closeSideNav()'>
        Korisnici
      </button>
    </mat-drawer>

    <mat-drawer #drawer class="pp-sidenav" mode="side">
      <button mat-raised-button routerLink="schemas" (click)='closeSideNav()'>
        Šeme
      </button>
    </mat-drawer>

  </mat-drawer-container>
</div>

<div class="row main-row" [ngClass]="{'blooring': drawer.opened}">
  <div class="main-stage col-md-10" (click)="closeSideNav()">
    <router-outlet></router-outlet>
  </div>

  <mat-drawer class="pp-login" mode="side" #login>
    <mat-list role="list">
      <mat-list-item role="listitem">{{(user$ | async)?.username}}</mat-list-item>
      <mat-list-item role="listitem">
        <button mat-icon-button color="warn" (click)="onLogOut()">
          <mat-icon aria-label="Example icon-button with a heart icon">no_meeting_room</mat-icon>
          ODJAVI SE
        </button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
</div>