<br>
<mat-tab-group class="row" #kupacTab>

  <mat-tab label="Kreirajte novu šemu komponente">
    <mat-card class="formBox">
      <form [formGroup]="newSchema" (ngSubmit)="onFormSubmit(schemaForm)" #schemaForm autocomplete="off">
        <mat-card-title *ngIf="!updateModel">KREIRAJTE NOVU ŠEMU</mat-card-title>
        <mat-card-title *ngIf="updateModel">IZMENITE ŠEMU </mat-card-title>
        <mat-card-content>
          <mat-card class="col-md-12">
            <mat-card-title class="subTitle">Naziv šeme</mat-card-title>
            <mat-card-content>
              <mat-form-field class="col-md-4">
                <input matInput formControlName="schema_name" placeholder="Header Sekcija">
                <mat-hint>Minimum tri karaktera samo slova, brojevi i razmak!</mat-hint>
                <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                  Please enter a valid email address
                                </mat-error>
                                <mat-error *ngIf="emailFormControl.hasError('required')">
                                  Email is <strong>required</strong>
                                </mat-error> -->
              </mat-form-field>

              <mat-form-field class="col-md-4">
                <mat-select placeholder="TIP ŠEME:" formControlName="schema_type" name="schema_type">
                  <mat-option *ngFor="let type of CONTENTSCHEMA_TYPE" [value]="type">
                    {{type | uppercase }}
                  </mat-option>
                </mat-select>
              </mat-form-field>


              <mat-radio-group formControlName="is_complex_schema">
                <mat-radio-button value="0">Prosta šema</mat-radio-button>
                <mat-radio-button value="1">Složena šema</mat-radio-button>
              </mat-radio-group>



              <div class="row">
                <div class="col-8">

                  <div class="row" *ngFor="let line of newSchema.get('seoimage').value; let i = index;">
                    <div class="card  col-md-4 bc">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">SEO FILE NAME</h5>
                        <p class="card-text">SEO ALT TEXT.</p>
                        <a href="#" class="btn btn-primary">LINK POVEZAN SA SLIKOM</a>
                      </div>
                    </div>
                    <div class="card col-md-8">
                      <div class="card-body">
                        Odaberite teks:
                        <app-textsearch txt_type='line'></app-textsearch>
                      </div>
                      <mat-icon class="bc-icon" (click)="removeFromArr(newSchema.controls['seoimage'],i)">remove_circle
                      </mat-icon>
                    </div>

                  </div>

                  <!-- LINE TEXT SECTION -->
                  <div class="row" *ngFor="let line of newSchema.get('linetext').value; let i = index;">
                    <div class="card col-md-4 bc">
                      <div class="card-body">
                        Tekst bez naslova sa par linija sadržaja..
                      </div>
                    </div>
                    <div class="card col-md-8">
                      <div class="card-body">
                        Odaberite teks:
                        <app-textsearch txt_type='line'></app-textsearch>
                      </div>
                      <mat-icon class="bc-icon" (click)="removeFromArr(newSchema.controls['linetext'],i)">remove_circle
                      </mat-icon>
                    </div>
                  </div>

                  <!-- SIMPLE TEXT SECTION -->
                  <div class="row" *ngFor="let line of newSchema.get('simpletext').value; let i = index;">
                    <div class="card col-md-4">
                      <div class="card-body">
                        <h5 class="card-title">Regularan tekst</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Podnaslov</h6>
                        <p class="card-text">Kompleksniji tekst sa naslovom i više tekstualnih celina sa podnaslovima.
                        </p>
                      </div>
                    </div>
                    <div class="card col-md-8 bc">
                      <div class="card-body">
                        Odaberite teks:
                        <app-textsearch txt_type='simple'></app-textsearch>
                      </div>
                      <mat-icon class="bc-icon" (click)="removeFromArr(newSchema.controls['simpletext'],i)">
                        remove_circle</mat-icon>
                    </div>
                  </div>

                  <!-- RICH TEXT SECTION -->
                  <div class="row" *ngFor="let line of newSchema.get('richtext').value; let i = index;">
                    <div class="card col-md-4">
                      <h5 class="card-title">Napredni tekst</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Podnaslov</h6>
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">Više tekstualnih celina sa podnaslovima i slikama</p>
                      </div>
                    </div>
                    <div class="card col-md-8 bc">
                      <div class="card-body">
                        Odaberite teks:
                        <app-textsearch txt_type='rich'></app-textsearch>
                      </div>
                      <mat-icon class="bc-icon" (click)="removeFromArr(newSchema.controls['richtext'],i)">remove_circle
                      </mat-icon>
                    </div>
                  </div>

                  <!-- MENU SECTION -->
                  <div class="row" *ngFor="let line of newSchema.get('classicmenu').value; let i = index;">
                    <div class="card col-md-4">
                      <div class="card-body">
                        <ul class="list-group list-group-horizontal">
                          <li class="list-group-item">LINK 1</li>
                          <li class="list-group-item">LINK 2</li>
                          <li class="list-group-item">LINK 3</li>
                        </ul>
                      </div>
                    </div>
                    <div class="card col-md-8 bc">
                      <div class="card-body">
                        Odaberite meni:
                        <app-menusearch></app-menusearch>
                      </div>
                      <mat-icon class="bc-icon" (click)="removeFromArr(newSchema.controls['classicmenu'],i)">
                        remove_circle
                      </mat-icon>
                    </div>
                  </div>

                </div>


                <div class="col-4">
                  <mat-accordion>
                    <mat-expansion-panel *ngFor="let item of BASIC_TYPES | keyvalue">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          {{item.key | uppercase}}
                        </mat-panel-title>
                        <mat-panel-description>
                          Dodajte {{item.key}} komponentu šemi.
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <mat-list role="list">
                        <mat-list-item *ngFor="let it of item.value">
                          <p style="width:80%;"> {{it | uppercase}}</p>
                          <span style="cursor:pointer;" (click)="addToSchema(item.key, it)">
                            <mat-icon>
                              add_circle
                            </mat-icon>
                          </span>
                        </mat-list-item>
                      </mat-list>

                    </mat-expansion-panel>

                  </mat-accordion>
                </div>
              </div>

            </mat-card-content>
            <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
          </mat-card>
        </mat-card-content>

        <div class="formBox_buttons">
          <button mat-raised-button color="primary" type="submit" class="center-block mr-1 formBox_buttons-ok"
            mat-button *ngIf="!updateModel">
            <mat-icon>add</mat-icon> DODAJTE NOVU ŠEMU
          </button>

          <button mat-raised-button color="primary" type="button" class="center-block mr-1 formBox_buttons-ok"
            mat-button *ngIf="updateModel" (click)="onUpdateKupac(schemaForm)">
            <mat-icon>create</mat-icon> IZMENI
          </button>


          <button mat-raised-button color="primary" type="button" class="center-block formBox_buttons-cancel" mat-button
            (click)="onResetFrom(schemaForm)">
            <mat-icon>cancel</mat-icon> ODUSTANI
          </button>
        </div>
      </form>
    </mat-card>
  </mat-tab>
  <mat-tab label="Pretraži postojeće kupce">
    <mat-card *ngIf="option==='list'" class='formBox formBox_notop'>
      <mat-card-title>Pretraga kupaca po imenu</mat-card-title>
      <mat-card-content>

        <div class="row">
          <div class="col-10">
            <app-kupcisearch (kupac)='onFilteredKupac($event)' #kupacsearch></app-kupcisearch>
          </div>
          <div class="col-2">
            <button mat-raised-button color="primary" type="button" class="center-block mr-1 formBox_buttons-ok"
              mat-button (click)="onResetKupacList()">
              RESET </button>
          </div>
        </div>

      </mat-card-content>
    </mat-card>

    <mat-card class="listBox">
      <mat-card-content>
        <table mat-table [dataSource]="tableData$" class="mat-elevation-z8 col-md-12" *ngIf="!isLoading">

          <!--- Note that these columns can be defined in any order.
                                  The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{(this.paginator.pageIndex * this.paginator.pageSize) + (i+1)}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> NAZIV ŠEME </th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{element.schema_name}}
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> TIP ŠEME </th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{element.schema_type}}
            </td>
          </ng-container>


          <!-- Symbol Column -->
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Akivan/Neaktivan </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <button mat-mini-fab type="button" (click)="onKupacDisable(element)" *ngIf="!element.isActive"
                style="background:red;">
                <mat-icon *ngIf="!element.isActive">add</mat-icon>
              </button>
              <button mat-mini-fab type="button" *ngIf="element.isActive" (click)="onKupacDisable(element)"
                style="background:green;">
                <mat-icon *ngIf="element.isActive">done_outline</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="headerColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: headerColumns;"></tr>
        </table>

        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]" [showFirstLastButtons]="true"
          #paginator (page)="onPaginationChange($event)">
        </mat-paginator>
      </mat-card-content>
    </mat-card>
  </mat-tab>

</mat-tab-group>