<br>
<mat-tab-group class="row" #textTab>

  <mat-tab label="Kreirajte novu šemu komponente">
    <mat-card class="formBox">
      <form [formGroup]="newText" (ngSubmit)="onFormSubmit(textForm)" #textForm autocomplete="off">
        <mat-card-title *ngIf="!updateModel">DODAJTE NOVI TEKST</mat-card-title>
        <mat-card-title *ngIf="updateModel">IZMENITE POSTOJEĆI TEKST </mat-card-title>
        <mat-card-content>
          <!-- TEXT TYPE INPUT  -->
          <mat-form-field class="col-md-2">
            <mat-select placeholder="IZABERITE TIP" formControlName="text_type" name="text_type">
              <mat-option *ngFor="let tip of texttype" [value]="tip">
                {{tip | uppercase }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!--  -->

          <!-- TEXT LANGAGE INPUT -->
          <mat-form-field class="col-md-2">
            <mat-select placeholder="IZABERITE JEZIK" formControlName="id_language" name="id_language">
              <mat-option *ngFor="let lang of (languages$ | async)" [value]="lang.id_language">
                {{lang?.language | uppercase }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!--  -->

          <div *ngIf="newText.get('text_type').value !== 'line'">
            <!-- TEXT NAME INPUT -->
            <mat-form-field class="col-md-4">
              <input matInput formControlName="text_name" placeholder="IME TEKSTA">
              <mat-hint>Minimum tri karaktera samo slova, brojevi i razmak!</mat-hint>
            </mat-form-field>
            <!--  -->
            <!-- TEXT TITLE INPUT -->
            <mat-form-field class="col-md-4">
              <input matInput formControlName="text_title" placeholder="NASLOV TEKSTA">
              <mat-hint>Minimum tri karaktera samo slova, brojevi i razmak!</mat-hint>
            </mat-form-field>
            <!--  -->
          </div>




          <mat-card class='col-12 formBox_small'>
            <mat-card-title class='subTitle text-uppercase'>Tekst</mat-card-title>
            <mat-card-content>

              <div formArrayName="paragraphs"
                *ngFor="let par of returnFormArray(newText.controls['paragraphs']).controls; let i = index;">
                <div [formGroupName]="i">
                  <mat-form-field class="example-full-width" class="col-10" *ngIf="par">
                    <input matInput placeholder="PODNASLOV" formControlName="title_par" [errorStateMatcher]="matcher">
                    <mat-hint>Errors appear instantly!</mat-hint>
                  </mat-form-field>
                  <button mat-mini-fab type="button" *ngIf="newText.get('text_type').value !== 'line' || i>=0"
                    (click)="removeFromArr(newText.controls['paragraphs'],i)">
                    <mat-icon>remove</mat-icon>
                  </button>
                  <mat-form-field class="example-full-width" class="col-12" *ngIf="par">
                    <textarea matInput placeholder="TEKST" formControlName="text"
                      [errorStateMatcher]="matcher"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <br>
              <div
                *ngIf="returnFormArray(newText.controls['paragraphs']).length < 10 ||newText.get('text_type').value !== 'line' ">
                Dodajte novi parametar
                <button mat-mini-fab type="button" (click)="addToFormArray(objPar, newText.controls['paragraphs'])">
                  <mat-icon>add</mat-icon>
                </button>
              </div>

            </mat-card-content>
          </mat-card>
          <br>
          <div class='row'>

            <div *ngIf="!updateModel && newText.get('text_type').value === 'rich'" class="col-md-4">
              <app-fileupload #fuc></app-fileupload>
            </div>

            <div class="col-md-2" *ngFor="let key of [0,1,2,3]">

              <mat-card class="imageBox"
                *ngIf="!updateModel && !copyModel && newText.get('text_type').value === 'rich'">
                <mat-icon *ngIf="!imageSrcs[key]">cloud_upload</mat-icon>
                <img [src]="imageSrcs[key]" height="200" *ngIf="imageSrcs && imageSrcs[key]">
              </mat-card>

              <mat-card class="imageBox" *ngIf="updateModel && newText.get('text_type').value === 'rich'">
                <mat-icon class="imageBox_newImage" *ngIf="!updateModel.files[key]" (click)='uploadImage(updateModel)'>
                  add_to_photos
                </mat-icon>
                <div class="imgUpdateBox" *ngIf="updateModel.files[key]">
                  <mat-icon (click)="removeImage(updateModel, updateModel.files[key]);">close</mat-icon>
                  <mat-icon (click)="replaceImage(updateModel, updateModel.files[key]);">import_export</mat-icon>
                </div>
                <img src="{{FILEURL +updateModel.files[key]?.idFile}}" height="200" *ngIf="updateModel.files[key]">
                <mat-progress-bar class='imageBox_progresBar' mode="determinate" value="40"
                  *ngIf="updateModel.isLoading">
                </mat-progress-bar>
              </mat-card>


              <mat-card class="imageBox" *ngIf="copyModel">
                <mat-icon *ngIf="!copyModel.files[key]">cloud_upload</mat-icon>
                <img src="{{FILEURL +copyModel.files[key]?.idFile}}" height="200" *ngIf="copyModel.files[key]">
                <mat-progress-bar class='imageBox_progresBar' mode="determinate" value="40" *ngIf="copyModel.isLoading">
                </mat-progress-bar>
              </mat-card>

            </div>



          </div>
          <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
      
        </mat-card-content>



        <div class="formBox_buttons">
          <button mat-raised-button color="primary" type="submit" class="center-block mr-1 formBox_buttons-ok"
            mat-button *ngIf="!updateModel">
            <mat-icon>add</mat-icon> DODAJTE NOVU STRANU
          </button>

          <button mat-raised-button color="primary" type="button" class="center-block mr-1 formBox_buttons-ok"
            mat-button *ngIf="updateModel" (click)="onFormUpdate(textForm)">
            <mat-icon>create</mat-icon> IZMENI
          </button>


          <button mat-raised-button color="primary" type="button" class="center-block formBox_buttons-cancel" mat-button
            (click)="onResetFrom(textForm)">
            <mat-icon>cancel</mat-icon> ODUSTANI
          </button>
        </div>
      </form>
    </mat-card>
  </mat-tab>


  <mat-tab label="Pretraži postojeće kupce">
    <!-- <mat-card *ngIf="option==='list'" class='formBox formBox_notop'>
      <mat-card-title>Pretraga kupaca po imenu</mat-card-title>
      <mat-card-content>
 
          <div class="row">
          <div class="col-10">
            <app-kupcisearch (kupac)='onFilteredKupac($event)' #kupacsearch></app-kupcisearch>
          </div>
          <div class="col-2">
            <button mat-raised-button color="primary" type="button" class="center-block mr-1 formBox_buttons-ok"
              mat-button (click)="onResetKupacList()">
              RESET </button>
          </div>
        </div>

      </mat-card-content>
    </mat-card> -->

    <mat-card class="listBox">
      <mat-card-content>
        <table mat-table [dataSource]="tableData$" class="mat-elevation-z8 col-md-12" *ngIf="!isLoading">

          <!--- Note that these columns can be defined in any order.
                                  The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{(this.paginator.pageIndex * this.paginator.pageSize) + (i+1)}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="text_type">
            <th mat-header-cell *matHeaderCellDef> TIP TEKSTA </th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{element.text_type | uppercase}}
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="text_paragraphs">
            <th mat-header-cell *matHeaderCellDef> TEKST </th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{element.text_paragraphs}}
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="extra">
            <th mat-header-cell *matHeaderCellDef> O TEKST / IME / NASLOV </th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{element.text_name}}
            </td>
          </ng-container>



          <!-- Symbol Column -->
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> IZMENI </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)=" modelForUpdate(element)">
                  <mat-icon>edit</mat-icon>
                  <span>Izmeni podatke</span>
                </button>
                <!-- <button mat-menu-item (click)="onUredjajCopy(element)">
                  <mat-icon>edit</mat-icon>
                  <span>Kopiraj podatke</span>
                </button> -->
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="headerColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: headerColumns;"></tr>
        </table>

        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]" [showFirstLastButtons]="true"
          #paginator (page)="onPaginationChange($event)">
        </mat-paginator>
      </mat-card-content>
    </mat-card>
  </mat-tab>

</mat-tab-group>