/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "./assets/scss/colors.scss";
@import "./assets/scss/structures.scss";
@import "./assets/scss/fontsizes.scss";
*{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Rokkitt', serif;
}
html, body{
    margin:0px;
    padding:0px;

    -webkit-scrollbar{width:10px}::-webkit-scrollbar-track{background:#ffffff;border-radius:-2px}::-webkit-scrollbar-thumb{background:#0000a0;border-radius:11px}

 mat-radio-button { padding: 5px; }
 simple-snack-bar {
  .error {
    color: red;
  }
}
.pperror{
  background: red;
}
.ppwarning{
  background: goldenrod;
}
.ppnotice{
  background: yellowgreen;
}

.print-html{
   margin: 0px;
   padding: 0px;
  }

.wrapper {
  height: 100vh;
}

mat-card {
    padding:5px;
    margin-top: 10px;
  .main-card{
    box-shadow: none;
    overflow: hidden!important;
    width: 98%;
  } 
}
mat-tab-group{
  mat-tab-body {
    form {padding:1em;}
  }
}

.main-stage{margin-left: 8rem; height:100vh;}    
.header-row{position: fixed; z-index:999; width: 100%;margin-top:-70px;}
.main-row{margin-top:70px;}

.blooring {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

.login-wrapper{
    height: 100vh;
    width: 100vw;
    background-image: url('src/assets/images/okompanijipapirprint14923.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: left;
    text-align: center;
    padding-right:200px;
    .login-box{
      min-width:320px;
        margin-left:10%;
        margin-top: -8rem;
        width:30%;
        height:17rem;
        padding: 0px;
        align-items: center;
        box-shadow: 2px 10px 5px $secondary-color;
        background-color: white;
        mat-card-header{
          justify-content: center;
          background-color:  $primary-color;
          color: white;
          border-bottom-right-radius: 50px;
          mat-card-title {
            font-size: 18px;
            font-weight: 400;
            margin-top: 8px;
            text-shadow: 1px 2px #000;
            transition: all 0.2s;
           }
        }
        mat-card-content{
          padding: 10px;
          background-color: $white;
          mat-form-field{
            width: 100%;
            font-size:16px;
          }
        }
    }

}
.tableBox{
  img{width:100px;}
}
.listBox{
  padding-top: 0;
  margin-top: 0;
  table{
    thead{
      tr{
        background: black;
        th{
          font-size: 1rem;
          color:white;
          padding: 10px!important;
        &:first-child{
          text-align: center;
          background: $primary-color;
        }
        }
      }
    }
    tbody{
    tr{
      td{padding:10px!important;
      &:first-child{
        text-align: center;
        background-color: $green-color;
      }
      &:last-child{
        button{
        background-color: white;
        color:$primary-color;}
      }
  
      }
      
    }}
  }
}
.actionMenu{
  .mat-menu-panel{
    background: black;
  }
    .mat-menu-content{
    *{color:white}
    button {
      background-color: $primary-color;
      margin-bottom: 2px;
    &:hover *{color: black;} 
    }
     
  }
    }
.formBox{

  padding:0px;
  margin: 1rem;
  margin-top: -1rem;
  &_notop{
    margin-top: 0px;
  }
  &_padmar{
    padding: 16px;
    margin: 16px;
  }
  form{padding:1rem 0rem;}
  mat-card{  box-shadow: none !important;
  }
  &_row{
    padding: 1rem;
    // box-shadow: 0px 3px 10px black;
  }
  .mat-card-header-text{width: 100%;}
  mat-form-field{margin-bottom:1em; }
  mat-card-title{
    padding: 2px 30px;
    border: 1px solid $g-color;
    color: white;
    border-bottom-right-radius: 1rem;
    @include  gradient-gcolor;
    font-weight: 200;
    // box-shadow: 2px 2px 5px black;
    &.subTitle{
      font-size: 15px !important;
      padding: 5px 20px;
      font-style: italic;
      letter-spacing: 2px;
      @include  gradient-primary;
      text-transform: uppercase;
    }
  }
  mat-card-content{
    padding: 1rem;
  }
  &_small{
    overflow-y:scroll;
    max-height: 350px;
    mat-card-title{
      font-size: 1em!important;
      text-transform: uppercase;
    }
  }
  &_priority{
    text-align: center;
    padding: 2em;
    span{
      display: inline-block;
      width: 6rem;
      height: 5rem;
      margin: 1em;
      vertical-align: middle;
      &:hover{
        cursor: pointer;
        box-shadow: inset 0px 0px 7px 2px black;
      } 
      mat-icon{
        font-size: 3rem;
        margin: 15% 20% 0 0;
        color: white;
      }
    }
  }

  &_buttons{
    width:  100%;
    justify-content: center;
    text-align: center;
    &-ok{
      background-color: $green-color!important;
    }
    &-cancel{
      background-color: $gl-color!important;
    }
  }
  .badge{
    background: red;
    &:hover{
      cursor: pointer;
      transform: scale(1.2);
    }
  }

  &_select{
    padding: 1rem;
  }
}
.mat-tab-header{
  margin: 0rem 1rem;
}
.mat-tab-labels{
  justify-content: flex-end;
  .mat-tab-label{
    BACKGROUND: BLACK;
     COLOR: WHITE;
    &:first-child {BORDER-TOP-LEFT-RADIUS: 1rem;}
    &:last-child {BORDER-TOP-RIGHT-RADIUS: 1rem;}}
  
}
.mat-ink-bar{
  background-color: black!important;
  height: 4px;
}
 

  
.card_menu{
  padding-top: 1rem;
  height: 4rem;
  border-bottom: 2px solid black;
  button{
    padding-left: 16px;
    height: 100%;
    font-size: 1.3rem;
    font-weight: 700;
  }
}
.menuBox{
  .test{background: yellow;}

  .sub_button{
    background: green;
  }
  padding:0px;
  .row{
    margin:0px;
  }
  button{
    height: 3rem;
    width: 10rem;
    // border: 1px solid black;
   
    margin:5px;
    box-shadow: -1px 1px 4px 0px black;
  }

}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb{background-color: $f-color;}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar{background-color:$green-color;}
.mat-fab.mat-accent, .mat-flat-button.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
  background-color: $green-color;
}

.imageBox{
  padding: 0px;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 12rem;
      img {
      max-width: 100%;
      max-height: 250px;
      height: fit-content!important;
      margin-top:-1rem;
      }
      &_progresBar{
        position: absolute;
        bottom:0;
        left:0;
      }
      mat-icon{
          margin-top:-1rem;
          font-size: 2rem;
          color: blue;
      }
      &_newImage{
        &:hover{
          cursor: pointer;
          transform: scale(1.2);
          // text-shadow: 2px 3px 2px rgb(45, 12, 134);
          transition: all 3 linear;
        }
      }
      .imgUpdateBox{
        height: 2rem;
        position: absolute;
        top:0;
        width:100%;
        background: gray;
        border-bottom-left-radius: 2rem;
        box-shadow: 2px 5px 10px black;
        mat-icon{
          margin:0px 5px 0px 0px;
          float: right;
          padding-right: 5px;
          font-weight: 100;
          color:white;
          &:hover{
            cursor: pointer;
            color: black;
          }
        }
      }
}

.menu {
  button{
    font-weight: 700;
  }
}

.backToTop{
  cursor: pointer;
  padding: 5px;
  span{
    i{
      font-weight: bolder;
      font-size: 20px;
      color: $primary-color;
    }
    font-size: 30px;
  }
  &:hover{
    box-shadow: inset -1px 0px 3px;
  }
}

}
.small-info{
position:relative;
bottom: 1;
font-size: 9px;
font-weight: bold;
}
.important{
  color:red;
  font-size: $largeFont;
}
.progSpinner{
    position: absolute !important;
    top: 85%;
    right: 55%;
}
.full-width-dialog {
  // max-width: 90vh !important;
  @media print{
    max-width: 200mm !important;
    max-height: 270mm !important;
  }
}

@page {
    size: A4;
    margin: 0;
  }

@media print{
    *, body, html{
        padding: 0px;
        margin: 0px;
        overflow: hidden;
        }
 body .no-print{
     display: none;
 }
 .print-html::before {
    overflow: hidden!important;
 } 
 .print-html {
     margin-right: 0px;
     padding: 0px;
     table{ border: 1px solid black;}
     table tr, th, td{
         border: 1px solid black;
         font-size: 10px!important;
    }
    table th { font-size: 14px;
                color: black;
                font-weight: bold;
                padding: 5px!important;
            }
    table tr {
        height: 25px;
    }
    table tr {
        padding: 2px;
    }
  }

//   @page
// {
//     size: A4; /* DIN A4 standard, Europe */
//     margin: 0px; /* auto is the initial value */

//     /* this affects the margin in the printer settings */
// }
}

