.image-preview{
    
    position: relative;
    width: 100%;
    height: 250px;
    border: 2px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    overflow: scroll;
    overflow-x: hidden;
    img {
    max-width:100%;
    // max-height:200px;
    }
    &_seocheck{
        z-index: 999;
        position: absolute;
        top:0%;
    }
    &_fname{
        display: none;
        position: absolute;
        width: 100%;
        top:12%;
        border-bottom: 1px solid green;
    }
    &_finfo{
        position: absolute;
        bottom:5%;
        right:5%;
        background-color: black;
        color:white;
    }
}
.imageSeoList{
    // width: auto;
    margin: 0 auto;
    .list-group-item{
        padding: 0px 10px;
        mat-form-field{
            font-size: 16px;
            margin-bottom: 0px;
        }
        mat-expansion-panle{
            margin-bottom: 5px;
        }
    }
}
