<br>
<mat-tab-group class="row" #imageTab>

  <mat-tab label="Kreirajte novu seo sliku">
    <mat-card class="formBox wrapper">
      <form [formGroup]="newImage" (ngSubmit)="onFormSubmit(imageForm)" #imageForm autocomplete="off">
        <mat-card-title *ngIf="!updateModel">DODAJTE NOVU SLIKU</mat-card-title>
        <mat-card-title *ngIf="updateModel">IZMENITE POSTOJEĆI TEKST </mat-card-title>
        <mat-card-content>
          <div class="row">
            <div class="col-md-2">
              <app-fileupload #fuc></app-fileupload>
            </div>
            <div class="col-md-10">
              <form [formGroup]="newSeoImages" (ngSubmit)="onFormSubmit(seoImagesForm)" #seoImagesForm
                autocomplete="off">
                <div class="row">

                  <div class="col-md-6 image-box" formArrayName="imagesarry"
                    *ngFor="let img of returnFormArray(newSeoImages.controls['imagesarry']).controls; let i = index;">
                    <div class="image-preview" [formGroupName]="i">
                      <section class="image-preview_seocheck">
                        <mat-checkbox class="example-margin" #seocheck>Formatiraj sliku!</mat-checkbox>
                      </section>
                      <img [src]="images[i]" *ngIf="images && images[i]" alt="Preview image"
                        class="image-preview__image">
                      <span *ngIf="!images[i]" class="image-preview__default-text">
                        IMAGE PREVIEW
                      </span>
                      <div class="image-preview_fname imageSeoList"
                        [ngStyle]="{'display':seocheck.checked  ? 'block' : 'none' }">
                        <ul class="list-group">
                          <li class="list-group-item">
                            <mat-form-field class="col-12">
                              <input matInput formControlName="imageWidth" placeholder="Širina slike u px:" type="number" min='72'>
                              <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                                Please enter a valid email address
                                              </mat-error>
                                              <mat-error *ngIf="emailFormControl.hasError('required')">
                                                Email is <strong>required</strong>
                                              </mat-error> -->
                            </mat-form-field>
                          </li>
                          <li class="list-group-item">
                            <mat-form-field class="col-12">
                              <mat-label>Jezik</mat-label>
                              <mat-select formControlName="languages" #langSelect multiple
                                (selectionChange)="onImageLang($event, i)">
                                <mat-option *ngFor="let lang of (languages$ | async)" [value]="lang">{{lang.language}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </li>

                          <li class="list-group-item" *ngIf='getImageSeo(i).length > 0' formArrayName="imageSeo">
                            <mat-accordion *ngFor="let img of getImageSeo(i); let i = index;">
                              <mat-expansion-panel [formGroupName]="i">
                                <mat-expansion-panel-header>
                                  <mat-panel-title>
                                    <mat-form-field class="example-full-width">
                                      <input matInput formControlName="langugae_name" value="Sushi">
                                    </mat-form-field>
                                  </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-list role="list">
                                  <mat-list-item>
                                    <mat-form-field class="col-12">
                                      <input matInput formControlName="title_par" placeholder="NAZIV SLIKE">
                                      <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                                        Please enter a valid email address
                                                      </mat-error>
                                                      <mat-error *ngIf="emailFormControl.hasError('required')">
                                                        Email is <strong>required</strong>
                                                      </mat-error> -->
                                    </mat-form-field>
                                  </mat-list-item>
                                  <mat-list-item>
                                    <mat-form-field class="col-12">
                                      <input matInput formControlName="text" placeholder="ALT SLIKE">
                                      <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                                        Please enter a valid email address
                                                      </mat-error>
                                                      <mat-error *ngIf="emailFormControl.hasError('required')">
                                                        Email is <strong>required</strong>
                                                      </mat-error> -->
                                    </mat-form-field>
                                  </mat-list-item>
                                </mat-list>

                              </mat-expansion-panel>

                            </mat-accordion>
                          </li>
                        </ul>
                      </div>
                      <!-- <div class="image-preview_finfo"><span class="material-icons" (click)="onOpenDialog()">
                          note_add
                        </span>

                      </div> -->
                    </div>
                  </div>

                </div>
              </form>
            </div>
          </div>

          <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

        </mat-card-content>



        <div class="formBox_buttons">
          <button mat-raised-button color="primary" type="submit" class="center-block mr-1 formBox_buttons-ok"
            mat-button *ngIf="!updateModel">
            <mat-icon>publish</mat-icon> 
          </button>

          <button mat-raised-button color="primary" type="button" class="center-block mr-1 formBox_buttons-ok"
            mat-button *ngIf="updateModel" (click)="onFormUpdate(imageForm)">
            <mat-icon>create</mat-icon> IZMENI
          </button>


          <button mat-raised-button color="primary" type="button" class="center-block formBox_buttons-cancel" mat-button
            (click)="onResetFrom(imageForm)">
            <mat-icon>cancel</mat-icon> ODUSTANI
          </button>
        </div>s
      </form>
    </mat-card>
  </mat-tab>


  <mat-tab label="Pretraži postojeće kupce">
    <!-- <mat-card *ngIf="option==='list'" class='formBox formBox_notop'>
      <mat-card-title>Pretraga kupaca po imenu</mat-card-title>
      <mat-card-content>
 
          <div class="row">
          <div class="col-10">
            <app-kupcisearch (kupac)='onFilteredKupac($event)' #kupacsearch></app-kupcisearch>
          </div>
          <div class="col-2">
            <button mat-raised-button color="primary" type="button" class="center-block mr-1 formBox_buttons-ok"
              mat-button (click)="onResetKupacList()">
              RESET </button>
          </div>
        </div>

      </mat-card-content>
    </mat-card> -->


  </mat-tab>

</mat-tab-group>